<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <meta charset="UTF-8">
    <title>Wireless Sensors</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div id='myContainer'></div>
            </div>
            <div class="col-md-5">
                <div class="col-md-6">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div><label><strong>Radius:</strong> {{ radius }}</label></div>
                        </li>
                        <li class="list-group-item">
                            <div><label><strong>Avg. Deg.:</strong> {{ avg_deg_received }}</label></div>
                        </li>
                        <li class="list-group-item">
                            <div><label><strong>MAX:</strong> {{ max_deg }}</label></div>
                        </li>
                        <li class="list-group-item">
                            <div><label><strong>MIN:</strong> {{ min_deg }}</label></div>
                        </li>
                        <li class="list-group-item">
                            <div><label><strong>No. of Edges:</strong> {{ number_of_edges }}</label></div>
                        </li>
                        <li class="list-group-item">
                            <div><label><snap class="color-red">&nbsp;&nbsp;&nbsp;&nbsp;</snap> Max degree</label></div>
                        </li>
                        <li class="list-group-item">
                            <div><label><snap class="color-blue">&nbsp;&nbsp;&nbsp;&nbsp;</snap> Min degree</label></div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <form method="POST" action="/plot">
                        {% csrf_token %}
                        <div class="input-group full-width">
                            <label class="form-control"><input type="radio" id="withEdgeRadio" name="plot-option" value="1" checked  >&nbsp;&nbsp;With Edges</label>
                        </div>
                        <div class="input-group full-width">
                            <label class="form-control"><input type="radio" id="withoutEdgeRadio" name="plot-option" value="0">&nbsp;&nbsp;Without Edges</label>
                        </div>
                        <div class="input-group full-width">
                             <span class="input-group-addon">Topology</span>
                            <select name="topology" id="topology" class="form-control" title="Topology">
                                <option value="square">Unit Square</option>
                                <option value="circle">Unit Circle</option>
                                <option value="sphere" disabled>Unit Sphere</option>
                            </select>
                        </div>
                        <div class="input-group full-width">
                            <span class="input-group-addon">Nodes</span>
                            <input type="text" name="nodes" class="form-control" placeholder="Number of nodes" value="{{ nodes }}">
                        </div>
                        <div class="input-group full-width">
                            <span class="input-group-addon">Avg. Deg.</span>
                            <input type="text" name="avg_deg" class="form-control" placeholder="Avg. Deg." value="{{ avg_deg }}">
                        </div>
                        <div class="input-group full-width">
                            <span class="input-group-addon">Radius</span>
                            <input type="text" name="radius-estimated" class="form-control" placeholder="Estimated Radius" value="{{ radius_estimated }}">
                        </div>
                        <div class="input-group full-width">
                            <button type="submit" class="btn btn-info btn-block">Plot Graph</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

	<script type="text/javascript" src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/p5.min.js' %}"></script>
	<script>
        function setup() {
            var myCanvas = createCanvas(600, 600);
            myCanvas.parent('myContainer');
            background(0);

            var offset = 600;
            {% if topology == "circle" %}
                offset = 300;
            {% endif  %}

            var max_ver = [];
            var min_ver = [];
            var max_vertex = {{ max_vertex }};
            var min_vertex = {{ min_vertex }};
            var point_size = 5;
            var plot_edges = {{ plot_option }};
            var topology = "{{ topology }}";

            if (plot_edges === 0){
                plot_edges = false;
                document.getElementById("withEdgeRadio").checked = false;
                document.getElementById("withoutEdgeRadio").checked = true;
            }
            else{
                plot_edges = true;
                document.getElementById("withEdgeRadio").checked = true;
                document.getElementById("withoutEdgeRadio").checked = false;
            }
            document.getElementById("topology").value = topology;
            if(topology === "circle"){
                background(180);
                fill(0)
                ellipse(width/2, width/2, height, height);
            }

            var json = JSON.parse('{{ mapped_list|safe }}');
            for (var key in json) {
                if (json.hasOwnProperty(key)) {
                    var val = json[key];

                    fill(255, 200, 0);
                    stroke(255, 255, 255, 75);
                    strokeWeight(0.5);

                    if (plot_edges === true){
                        for (var i = 1; i < val.length; i++) {
                            var v = val[i];
                            line((val[0])[0] * offset, (val[0])[1] * offset, (json[v][0])[0] * offset, (json[v][0])[1] * offset);
                        }

                        if (val[0][0] === max_vertex[0] && val[0][1] === max_vertex[1]) {
                            max_ver = val;
                            fill(255, 0, 0, 255);
                        }
                        if (val[0][0] === min_vertex[0] && val[0][1] === min_vertex[1]) {
                            min_ver = val;
                            fill(0, 0, 255, 255);
                        }
                    }

                    noStroke();
                    ellipse((val[0])[0] * offset, (val[0])[1] * offset, point_size, point_size);
                }
            }

            if (plot_edges === true) {
                for (var i = 1; i < max_ver.length; i++) {
                    var v = max_ver[i];
                    stroke(255, 0, 0);
                    strokeWeight(1);
                    line((max_ver[0])[0] * offset, (max_ver[0])[1] * offset, (json[v][0])[0] * offset, (json[v][0])[1] * offset);
                }
                for (var i = 1; i < min_ver.length; i++) {
                    var v = min_ver[i];
                    stroke(0, 0, 255);
                    strokeWeight(1);
                    line((min_ver[0])[0] * offset, (min_ver[0])[1] * offset, (json[v][0])[0] * offset, (json[v][0])[1] * offset);
                }
            }
        }
	</script>
</body>
</html>