<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <meta charset="UTF-8">
    <title>Wireless Sensors</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div id='myContainer1'></div>
                <div id='myContainer2'></div>
                <div id='myContainer3' style="display: none;"></div>
            </div>
            <div class="col-md-5">
                <div class="col-md-6">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div><label><strong>Radius:</strong> {{ radius }}</label></div>
                        </li>
                        <li class="list-group-item">
                            <div><label><strong>Avg. Deg.:</strong> {{ avg_deg_received }}</label></div>
                        </li>
                        <li class="list-group-item">
                            <div><label><strong>MAX:</strong> {{ max_deg }}</label></div>
                        </li>
                        <li class="list-group-item">
                            <div><label><strong>MIN:</strong> {{ min_deg }}</label></div>
                        </li>
                        <li class="list-group-item">
                            <div><label><strong>No. of Edges:</strong> {{ number_of_edges }}</label></div>
                        </li>
                        <li class="list-group-item">
                            <div><label><span class="color-red">&nbsp;&nbsp;&nbsp;&nbsp;</span> Max degree</label></div>
                        </li>
                        <li class="list-group-item">
                            <div><label><span class="color-blue">&nbsp;&nbsp;&nbsp;&nbsp;</span> Min degree</label></div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <form method="POST" action="/plot">
                        {% csrf_token %}
                        <div class="input-group full-width">
                            <label class="form-control"><input type="checkbox" id="showEdgeCheck" name="plot-option[]" value="0" checked onchange="drawEdge()">&nbsp;&nbsp;Show Edges</label>
                        </div>
                        <div class="input-group full-width">
                            <label class="form-control"><input type="checkbox" id="minMaxCheck" name="plot-option[]" value="1" onchange="drawMinMax()">&nbsp;&nbsp;Show Min-Max Deg.</label>
                        </div>
                        <div class="input-group full-width">
                             <span class="input-group-addon">Topology</span>
                            <select name="topology" id="topology" class="form-control" title="Topology">
                                <option value="square">Unit Square</option>
                                <option value="circle">Unit Circle</option>
                                <option value="sphere" disabled>Unit Sphere</option>
                            </select>
                        </div>
                        <div class="input-group full-width">
                            <span class="input-group-addon">Nodes</span>
                            <input type="text" name="nodes" class="form-control" placeholder="Number of nodes" value="{{ nodes }}">
                        </div>
                        <div class="input-group full-width">
                            <span class="input-group-addon">Avg. Deg.</span>
                            <input type="text" name="avg_deg" class="form-control" placeholder="Avg. Deg." value="{{ avg_deg }}">
                        </div>
                        <div class="input-group full-width">
                            <button type="submit" class="btn btn-info btn-block">Plot Graph</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

	<script type="text/javascript" src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/p5.min.js' %}"></script>
	<script>
        var point_size = 5;
        var max_ver = [];
        var min_ver = [];
        var max_vertex = {{ max_vertex }};
        var min_vertex = {{ min_vertex }};
        var plot_option = {{ plot_option }};
        var topology = "{{ topology }}";
        var json = JSON.parse('{{ mapped_list|safe }}');
        var offset = 600;
        {% if topology == "circle" %}
            offset = 300;
        {% endif  %}

        if (plot_option[0] === 0){
            document.getElementById("showEdgeCheck").checked = true;
            $("#myContainer2").css("display", "block");
        }
        else{
            document.getElementById("showEdgeCheck").checked = false;
            $("#myContainer2").css("display", "none");
        }

        if (plot_option[1] === 1){
            document.getElementById("minMaxCheck").checked = true;
            $("#myContainer3").css("display", "block");
        }
        else{
            document.getElementById("minMaxCheck").checked = false;
            $("#myContainer3").css("display", "none");
        }

        document.getElementById("topology").value = topology;

        function drawEdge() {
            if (document.getElementById("showEdgeCheck").checked) {
                $("#myContainer2").css("display", "block");
            }
            else {
                $("#myContainer2").css("display", "none");
            }
        }

        function drawMinMax() {
            if (document.getElementById("minMaxCheck").checked){
                $("#myContainer3").css("display", "block");
            }
            else {
                $("#myContainer3").css("display", "none");
            }
        }

        var c_back = function( p ) {
            p.setup = function() {
                p.createCanvas(600, 600);
                p.background(0);

                if(topology === "circle"){
                    p.background(180);
                    p.fill(0);
                    p.ellipse(p.width/2, p.width/2, p.height, p.height);
                }

                for (var key in json) {
                    if (json.hasOwnProperty(key)) {
                        var val = json[key];

                        p.fill(255, 200, 0);
                        p.noStroke();
                        p.ellipse((val[0])[0] * offset, (val[0])[1] * offset, point_size, point_size);

                        for (var i = 0; i < max_vertex.length; i++){
                            if (val[0][0] === max_vertex[i][0] && val[0][1] === max_vertex[i][1]){
                                max_ver.push(val);
                            }
                        }

                        for (var i = 0; i < min_vertex.length; i++){
                            if (val[0][0] === min_vertex[i][0] && val[0][1] === min_vertex[i][1]){
                                min_ver.push(val);
                            }
                        }
                    }
                }
            };
        };
        var canvasBackground = new p5(c_back, 'myContainer1');

        var c_edges = function( p ) {
            p.setup = function() {
                p.createCanvas(600, 600);
                p.background(0, 0, 0, 0);

                for (var key in json) {
                    if (json.hasOwnProperty(key)) {
                        var val = json[key];

                        p.stroke(255, 255, 255, 75);
                        p.strokeWeight(0.5);

                        for (var i = 1; i < val.length; i++) {
                            var v = val[i];
                            p.line((val[0])[0] * offset, (val[0])[1] * offset, (json[v][0])[0] * offset, (json[v][0])[1] * offset);
                        }
                    }
                }
            };
        };
        var canvasEdges = new p5(c_edges, 'myContainer2');

        var c_min_max = function( p ) {
            p.setup = function() {
                p.createCanvas(600, 600);
                p.background(0,0,0,0);

                max_ver.forEach(function(element){
                    for (var i = 1; i < element.length; i++) {
                        var v = element[i];
                        p.fill(255, 0, 0, 255);
                        p.stroke(255, 0, 0);
                        p.strokeWeight(1);
                        p.line((element[0])[0] * offset, (element[0])[1] * offset, (json[v][0])[0] * offset, (json[v][0])[1] * offset);
                        p.ellipse((element[0])[0] * offset, (element[0])[1] * offset, point_size, point_size);
                    }
                });

                min_ver.forEach(function(element) {
                    for (var i = 1; i < element.length; i++) {
                        var v = element[i];
                        p.fill(0, 0, 255, 255);
                        p.stroke(0, 0, 255);
                        p.strokeWeight(1);
                        p.line((element[0])[0] * offset, (element[0])[1] * offset, (json[v][0])[0] * offset, (json[v][0])[1] * offset);
                        p.ellipse((element[0])[0] * offset, (element[0])[1] * offset, point_size, point_size);
                    }
                });
            };
        };
        var canvasMinMax = new p5(c_min_max, 'myContainer3');
	</script>
</body>
</html>